@import url('https://fonts.googleapis.com/css?family=Aleo:300,300i|Barlow+Condensed:400,700&display=swap');
/*
 *  BRANDING
 *  green: #2bb459;
 *  dark_green: #209848;
 *  even_darker_green: #0e632b;
 *  orange: #f26d53;
*/

html, body {
    font-family: 'Aleo', Arial, sans-serif;
    background: #209848;
}

.body {
    overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
    color: #f26d53;
}

h1 {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 70px;
}

.pagestuffs h1 {
    text-transform: uppercase;
    color: #0e632b;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#navbar {
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #2bb459;
    z-index: 4;
    padding: 0 40px;
    overflow-y: hidden;
}

#navbar .pages a {
    line-height: 90px;
    color: #fff;
    margin-right: 40px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid transparent;
    transition: all ease-in-out 0.2s;
}

#navbar .pages a:hover, #navbar .pages a:active, #navbar .pages a:focus {
    text-decoration: none;
    border-bottom-color: #fff !important;
}

#navbar .pages a.active {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

#navbar .pages a:last-child {
    margin-right: 0;
}

#logo {
    position: relative;
    height: 110px;
    top: -20px;
    transition: all ease-in 0.4s;
}

#logo:hover, #logo:active, #logo:focus {
    text-decoration: none;
    top: -5px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(40, 40, 40, 0.1);
}

.body {
    min-height: calc(100vh - 104px);
    background: linear-gradient(#fff, #eee);
    padding-top: 90px;
}

.body.notfound h1 {
    margin-bottom: 20px;
}

.body > .container {
    padding-top: 40px;
    padding-bottom: 20px;
}

/* keep view from having problems and make it real nice 100vh body */
.body > .container > *:last-child {
    margin-bottom: 0 !important;
}

ul > li {
    font-size: 20px;
    line-height: 32px;
    color: #000;
}

ul > li > small {
    color: #888;
    font-size: 18px;
    font-style: italic;
}

/* .parent-landing {
    background-image: url('/assets/img/a-22.jpg');
    background-attachment: fixed;
    background-size: cover;
} */

/* .homepageItemParent {
    background-image: url('/assets/img/a-22.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: calc(100vh - 120px);
    overflow-y: scroll;
    position: relative;
} */

[class^="col-sm-"] img {
    width: 100%;
}

.homepageItem {
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: auto;
    padding: 50px;
}

.homepageItem h1 {
    margin: 0;
    text-align: left;
    padding: 20px;
    line-height: 32px;
    font-size: 22px;
    font-family: 'Aleo', Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: black;
}

.homepageItem.homepageItem1, .homepageItem.homepageItem3 {
    background: linear-gradient(#fff, #eee);
}

.homepageItem.homepageItem2, .homepageItem.homepageItem4 {
    background: linear-gradient(#fff, #eee);
}

#footer {
    padding: 40px 20px;
    background: #f26d53;
    color: #fff;
    font-family: 'Aleo', Arial, sans-serif;
    font-weight: 300;
    font-style: italic;
}

#copyright {
    margin: 0;
}

#cta {
    margin-top: 10px;
    display: inline-block;
    text-decoration: none !important;
    transition: border-bottom-color linear 0.3s, color linear 0.3s;
    border-bottom: 1px solid transparent;
}

#cta:hover, #cta:active, #cta:focus {
    border-bottom-color: #0056b3;
}

.contact .pagestuffs h3 {
    border: none;
    margin-bottom: 0;
}

.phone-numbers h3 em {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    line-height: 40px;
    position: relative;
    top: -8px;
    font-family: 'Aleo', Arial, sans-serif;
}

.phone-numbers h3 {
    line-height: 40px;
    border: none;
    font-size: 40px;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    letter-spacing: 2px;
}

.body.gallery > .container {
    padding-bottom: 60px;
}

.body.gallery > .container > .row{
    margin-bottom: 30px;
}

@media screen and (max-width: 575px) {
    /* xs breakpoint */
    .body {
        padding-top: 45px;
    }
    ul {
        margin-bottom: 0 !important;
    }
    h1 {
        text-align: center !important;
    }
    .parent-landing h1 {
        text-align: left !important;
        font-size: 18px;
        padding-bottom: 0;
    }
    .parent-landing hr {
        display: none !important;
    }
    .parent-landing img {
        display: block;
        margin: 20px auto 0;
        max-width: 90%;
    }
    .parent-landing .homepageItem2 img {
        margin-top: 0;
    }
    .body.gallery > .container > .row {
        margin-bottom: 0;
    }
    .body.gallery .row img {
        margin-bottom: 20px;
    }
    #navbar {
        height: 70px;
        padding: 0 5px;
    }
    #navbar .pages a {
        line-height: 70px;
        font-size: 14px;
        margin-right: 10px;
    }
    #logo {
        top: -10px;
        height: 90px;
    }
    .contact .pagestuffs h3 {
        text-align: center;
    }
    .phone-numbers h3 {
        text-align: center;
    }
    .phone-number {
        display: block;
        margin-bottom: 10px;
    }
}
