        <div id="footer">
            <p id="copyright">
                &copy; <span id="year">2019</span> Cordova Painting
            </p>
        </div>
        <script>
            // get current year for footer so always up-to-date
            document.getElementById("year").innerHTML = new Date().getFullYear();
            // mark top nav item as active if it's the current page
            var topNavItems = ['services', 'gallery', 'contact'];
            if (window.location.href) {
                for (let t of topNavItems) {
                    if (window.location.href.indexOf(t) !== -1) {
                        var el = document.getElementById(t);
                        el.className += "active";
                    }
                }
            }
        </script>
    </body>
</html>
