<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cordova Painting</title>
        <meta name="description" content="Let Cordova Painting turn your home into the beautiful oasis you desire.">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="custom.css">
    </head>
    <body>
    <div id="navbar">
        <img id="logo" src="img/logo.png" alt="Cordova Painting logo - white" />
    </div>
