{% extends 'index.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-md-1">
            <div class="pagestuffs">
                <h1>Contact</h1>
                <h3>Contact us at either of the phone numbers below and we'll get back to you as soon as we can!</h3>
                <div class="phone-numbers">
                    <div class="row text-center">
                        <div class="col-sm-5">
                            <h3>301-305-6780</h3>
                        </div>
                        <div class="col-sm-2" id="or">
                            <p><em>or</em></p>
                        </div>
                        <div class="col-sm-5">
                            <h3>571-336-4215</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
