{% extends 'index.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-md-1">
            <div class="pagestuffs">
                <h1>Contact</h1>
                <h3>Contact us at either number and we'll get back to you as soon as we can</h3>
                <div class="phone-numbers">
                    <h3 class="phone-number"><span class="phone-number">301-305-6780</span> <em>or</em> <span class="phone-number">571-336-4215</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
