{% extends 'index.html' %}
{% block search %}
<div class="drilldown-top">
    <p class="center" id="back">
        <a href="/">&larr; Search Artist</a>
    </p>
    <hr />
    <h1>
        {% for artist in album.body.artists %}

                {{ artist.name }}
                <a class="muted" href="{{ artist.external_urls['spotify'] }}" target="_blank">
                    <small>
                        view on spotify
                    </small>
                </a>
            {% if not loop.last %}<span class="comma">, </span>{% endif %}
        {% endfor %}
    </h1>
    <h2>
        {{ album.body.name }}
        <a class="muted" href="{{ artist.external_urls['spotify'] }}" target="_blank">
            <small>
                view on spotify
            </small>
        </a>
    </h2>
    <h3>{{ album.body.label }}</h3>
    <img style="float:right; max-width:100%; width:400px;" id="albumart" src="{{ album.body.images[0].url }}"/>
    <p>
        <small>
            {% for c in album.body.copyrights %}
                {{ c.text }}
                {% if not loop.last %}
                    <span class="comma">, </span>
                {% endif %}
            {% endfor %}
        </small>
    </p>
</div>
{% endblock %}
{% block content %}
<div class="drilldown-bottom">
    <table>
        <thead>
            <tr>
                <th>Track #</th>
                <th>Name</th>
                <th>Length</th>
                <th>Spotify Link</th>
            </tr>
        </thead>
        <tbody>
            {% if body.items %}
                {% for item in body.items %}
                    <tr id="{{ item.id }}">
                        <td>
                            {{ item.track_number }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.duration_ms | formatMilliseconds }}
                        </td>
                        <td>
                            <a href="{{ item.external_urls['spotify'] }}" target="_blank">
                                Listen
                            </a>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">
                        &hellip; Nothing found &hellip;
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
