{% extends 'index.html' %}
{% block search %}
<div class="drilldown-top">
    <p class="center" id="back">
        <a href="/">&larr; Search Artist</a>
    </p>
    <hr />
    <h1>
        {% for artist in album.body.artists %}
            {{ artist.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}
    </h1>
    <h2>{{ album.body.name }}</h2>
    <h3>{{ album.body.label }}</h3>
</div>
{% endblock %}
{% block content %}
<div class="drilldown-bottom">
    <table>
        <thead>
            <tr>
                <th>Track #</th>
                <th>Name</th>
                <th>Length</th>
                <th>Spotify Link</th>
            </tr>
        </thead>
        <tbody>
            {% if body.items %}
                {% for item in body.items %}
                    <tr id="{{ item.id }}">
                        <td>
                            {{ item.track_number }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.duration_ms / 60 }} min
                        </td>
                        <td>
                            <a href="{{ item.external_urls['Spotify'] }}" target="_blank">
                                Listen
                            </a>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3">
                        &hellip; Nothing found &hellip;
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
