{% extends 'index.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 offset-md-1">
            <div class="pagestuffs">
                <h1>Services</h1>
                <h3>Cordova Painting provides a broad list of professional services. Our clients speak highly of the quality of our work and attention to detail.</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>Interior and Exterior Residential and Commercial Painting</li>

                            <li>Drywall Repair</li>

                            <li>Wallpaper Installation and Removal</li>

                            <li>Cabinet Painting and Refinishing<br /><small> (kitchen cabinets, bathroom cabinets, bookshelves, vanities and more)</small></li>

                            <li>Crown Molding</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <ul>
                            <li>Deck/Fence Staining</li>
                            
                            <li>Carpentry Repairs</li>

                            <li>Power Washing </li>

                            <li>Door Installation</li>

                            <li>Popcorn Ceiling Removal</li>

                            <li>Concrete Staining and Epoxy Floor Coatings</li>

                            <li>Stucco Repairs and Painting</li>

                            <li>Vinyl and Aluminum Siding Painting</li>
                        </ul>
                    </div>
                </div>
                <p>Please <a href="/contact">inquire</a> about additional services not listed above.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
